<% content_for :title, @house.name %>
<div class="alert alert-primary" role="alert">
  <p class="mb-0"><%= link_to 'Edit', edit_house_path(@house) %></p>
  <p class="mb-0"><%= link_to 'Destroy', house_path(@house), method: :delete, data: {confirm: 'Are you sure?'} %></p>
</div>
<div class="row">
  <div class="col-md-4">
    <div id="gallery">
      <div id="large">
        <div class="thumbnail">
          <a href="<%= @house.images.split(',')[0] %>" id="gallery-link">
            <img id="gallery-large" src="<%= @house.images.split(',')[0] %>" style="width: 100%;"/>
            <div id="gallery-caption" class="caption">
              <p><%= @house.imageDescriptions.split(',')[0] %></p>
            </div>
          </a>
        </div>
      </div>
      <div id="smalls" class='ballot-smalls'>
        <% @house.images.split(',').each do |image| %>
          <a href="<%= image %>">
            <img class="ballot-gallery" src="<%= image %>" width=100 />
          </a>
        <% end %>
      </div>
    </div>
    <script>
      var galleryImg = document.getElementById("gallery-large");
      var galleryLnk = document.getElementById("gallery-link");
      var galleryDsc = document.getElementById("gallery-caption");
      var smallImages = document.getElementById("smalls").getElementsByTagName("a");

      var descs = [];
      <% @house.imageDescriptions.split(',').each do |imageDescription| %>
        descs.push("<p><%= imageDescription %></p>");
      <% end %>

      for(i = 0; i < smallImages.length; i++){
        smallImages[i].ord = i;
        smallImages[i].onclick = function(e){
          var img = this.getElementsByTagName("img")[0]
          galleryImg.src = img.src;
          galleryImg.attributes['title'] = img.attributes['title'];
          galleryLnk.attributes["href"].value = img.src;
          galleryDsc.innerHTML = descs[this.ord];
          e.preventDefault();
          return false;
        }
      }
    </script>
  </div>
  <div class="col-md-8">
    <div class="alert alert-info" role="alert">
      <ul>
        <% @house.information.each_line do |line| %>
          <li><%= line %></li>
        <% end %>
      </ul>
    </div>
    <p class="mb-0"><strong>Price Range:</strong> <%= @house.price %></p>
    <p class="mb-0"><strong>Size:</strong> <%= @house.size %></p>
  </div>
</div>
<h3 class="mt-3">Quotes</h3>
<blockquote class="blockquote">
  <%= render @house.reviews %>
</blockquote>
<div class="fixed-bottom bg-white">
  <p class="container"><%= link_to '⇦ Back to Houses', houses_path %></p>
</div>
