<% content_for :title, @house.name %>
<div class="alert alert-primary" role="alert">
  <p class="mb-0"><%= link_to 'Edit', edit_house_path(@house) if can? :update, @house %></p>
  <p class="mb-0"><%= link_to 'Destroy', house_path(@house), method: :delete, data: {confirm: 'Are you sure?'} if can? :destroy, @house %></p>
</div>
<div class="row">
  <div class="col-md-4">
    <div id="gallery">
      <div id="large" class="mb-4">
        <%= link_to @house.images.first.try(:url), id: 'gallery-link' do %>
          <%= image_tag @house.images.first.try(:url), id: 'gallery-img', style: 'width: 100%;' %>
          <%= content_tag :p, @house.images.first.try(:description), id: 'gallery-caption' %>
        <% end %>
      </div>
      <div id="smalls" class='ballot-smalls'>
        <% @house.images.each do |image| %>
          <%= image_tag image.url, width: 100, class: 'menu_icon' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="alert alert-info" role="alert">
      <ul>
        <% @house.information.each_line do |line| %>
          <li><%= line %></li>
        <% end %>
      </ul>
    </div>
    <p class="mb-0"><strong>Price Range:</strong> <%= @house.price %></p>
    <p class="mb-0"><strong>Size:</strong> <%= @house.size %></p>
  </div>
</div>
<h3 class="mt-3">Quotes</h3>
<blockquote class="blockquote">
  <%= render @house.reviews %>
</blockquote>
<div class="fixed-bottom bg-white">
  <p class="container"><%= link_to '⇦ Back to Houses', houses_path %></p>
</div>
