<% content_for :title, @ballot_group.name %>
<div class="alert alert-primary" role="alert">
  <p class="mb-0"><%= link_to 'Edit group', edit_ballot_group_path(@ballot_group) if can? :update, @ballot_group %></p>
  <p class="mb-0"><%= link_to 'Delete group', ballot_group_path(@ballot_group), method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, @ballot_group %></p>
</div>
<p>There are <%= @ballot_group.members.count %> people in this group. The owner is <%= @ballot_group.owner.name %>.</p>
<h3 class="mt-5">Members</h3>
<table class="table table-condensed table-bordered table-hover">
  <thead>
    <tr>
      <td>CRSid</td>
      <td>Name</td>
      <td>Assign Ownership</td>
    </tr>
  </thead>
  <% @ballot_group.members.each do |member| %>
    <tr>
      <td><%= member.crsid %></td>
      <td><%= member.name %></td>
      <td>
        <% if can? :update, @ballot_group %>
          <%= form_with model: @ballot_group, local: true do |form| %>
            <%= form.hidden_field :user_id, value: member.id %>
            <%= form.submit 'Assign Ownership', class: 'btn btn-link p-0' %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<h5 class="mt-5">Share this link with others so they can join your group:</h5>
<textarea autocomplete="off" autocorrect="off" autocapitalize="off"
  spellcheck="false" class="sharelink" id="sharelink" onkeydown="return false;">
<%= join_ballot_group_url(@ballot_group, token: @ballot_group.token) %>
</textarea>
<button class="btn btn-default" id="copybutton">Copy Link To Clipboard</button>
